.buttonReset {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.buttonReset__btn {
    padding: 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3700b3;
}